@tailwind base;
@tailwind components; 
@tailwind utilities;

:root {
  --primary-color: #4338ca;
  --primary-hover: #3730a3;
  --accent-color: #dc2626;
  --accent-hover: #b91c1c;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --error-color: #ef4444;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  --border-radius: 0.75rem;
}


input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: none !important;
    color: fieldtext !important;
}

@media (min-width: 48rem) {
    .md\:flex-row {
        flex-direction: row !important;
        align-items: center !important;
    }
}

.md\:grid-cols-3 {
    @media (width >= 48rem) {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
        text-align: center !important;
    }
}

.md\:grid-cols-4 {
    @media (width >= 48rem) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}